@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
h1,h2 {
   text-align: center;
   text-decoration: underline;
   font-family:'Parisienne', cursive, sans-serif;
   color:#cb6ce6;
}
h1 {
   font-size: 2.5em;
}

h2 {
   font-size: 2em;
}
/* My attempt at a sidebar navigation - deleted dumpsterfire. 5 hours wasted.
 my attempt at navbar end */
/* copy pasted from w3schools to be played with to learn and understand why and what
is happening where for what reasons */
/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   right: 0;
   background-color: #20212a; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}
 
 /* The navigation menu links */
.sidenav a {
   padding: 12px 12px;
   text-align: center;
   text-decoration:none;
   font-weight: 800;
   font-size: 25px;
   color: #cb6ce6;
   display: block;
   transition: 0.3s;

}
 
 /* When you mouse over the navigation links, 
 change their color */
.sidenav a:hover {
   color: #f1f1f1;
}
.button {
    position: fixed;
    padding: 15px 15px;
    border: 1px solid #cb6ce6;
    border-radius: 10px;
    background-color: #20212a;
    color: #cb6ce6;
    font-weight: bolder;
    cursor: pointer; 
    top: 50px;
    right:40px;
    font-size:2em;
    box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}
 /* Position and style the close button 
 (top right corner)
  */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   left: 25px;
   font-size: 36px;
   margin-Right: 50px;
}
 
 /* Style page content
  - use this if you want to push the page content to the 
  right
   when you open the side navigation */
#main {
   transition: margin-Right .5s;
   padding: 20px;
}
 
 /* On smaller screens, where height is less than 450px,
  change the style of the sidenav
   (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}
/* end of copy pasta nav bar - Continued effort to 
understand what each value is doing, 
customizing it for my product*/
body {
   background: #414141;
   font-family:'Parisienne', cursive, sans-serif;
}
.featured-container  {
   padding: 2em;
   margin:auto;
   gap:1em;
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 15rem 15rem;
   max-width: 75%;  
}
.featured-main {
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   grid-column: span 3;
   grid-row: span 2;
   border: 2px solid #20212a;
   border-radius: 8px;
   
}
/*Work required to fit/fill and
 preserve aspect ratio*/
.featured-main>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}
.featured-secondary{
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   grid-column: span 2;
   border: 2px solid #20212a;
   border-radius: 8px;
}
.featured-secondary>img{
   object-fit: fill;
   width:100%;
   height: 100%;
}
.featured-tertiary {
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   grid-column: span 2;
   border: 2px solid #20212a;
   border-radius: 8px;

}
.featured-tertiary>img{
   object-fit: fill;
   width:100%;
   height: 100%;
}
.content-wrapper {
   margin:auto;
   display:grid;
   max-width: 75%;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-rows: 15rem;
   gap:1em;
  
}
.content-one{
   grid-row: span 1;
   grid-column: span 1;
   border:2px solid #20212a;
   border-radius: 8px;
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}
.content-one>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}
.content-two{
   grid-row: span 1;
   grid-column: span 1;
   border:2px solid #20212a;
   border-radius: 8px;
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}
.content-two>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}   
.content-three{
   grid-row: span 1;
   grid-column: span 1;
   border:2px solid #20212a;
   border-radius: 8px;
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}
.content-three>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}
p {
   justify-content: center;
   text-align: center;
}