@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
h1 {
   text-align: center;
   text-decoration: underline;
   font-family:'Parisienne', cursive, sans-serif;
   color:#cb6ce6;
}
/*navbar and javascript code for animation iteration 1 
.navbar {
   display:flex;
   justify-content: right;

}

.menu-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   cursor: pointer;
   transition: all .6s ease-in-out;
   border:0.5px solid #cb6ce6;
}

.menu-btn_burger{
   width: 30px;
   height: 2px;
   background: #ede6e2;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);
   transition: all .6s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
   content: '';
   position:absolute;
   width: 30px;
   height: 2px;
   background: #ede6e2;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);
   transition:all .6s ease-in-out;
}

.menu-btn_burger::before {
   transform: translateY(-16px);
}

.menu-btn_burger::after {
   transform: translateY(16px);   
}
/*Animation

.menu-btn.open .menu-btn_burger {
   transform:translateX(-50px);
   background: transparent;
   box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
   transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
   transform: rotate(-45deg) translate(35px, 35px);
}

/*Navbar end Animation end Iteration 1*/  
/*navbar 2 by simone */
*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --clr-primary:#ee6352;
   --clr-dark: #333;
   --clr-neutral: #ddd;
   --clr-light: #fff;
}
/*this body broke the entire, page revist */
/* not part of the Simone navbar */  
body {
   background: #414141;
/* not part of the Simone navbar */   
   font-family:'Parisienne', cursive, sans-serif;
   min-height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 1.125em;
   line-height: 1.6;
   color: var(--clr-body);
   background:var(--clr-neutral);
   overflow-x:hidden;
}

a {color:var(--clr-primary);
}

.content {
   background:var(--clr-light);
   width:70vw;
   padding:3em;
   box-shadow: 0 0 3em rgba(0,0,0,.15);
}

.title {
   margin:0 0 .5em;
   font-weight:900;
   color:var(--clr-primary);
   line-height: .8;
}

.nav {
   background:var(--clr-light);
   position:absolute;
   right:0;
   box-shadow: 0 0 3em rgba(0,0,0,.15);
   transform:translateX(100%);
   transition:transform 300ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
   list-style:none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   height:100vh;
   padding:6em 6em 3em 6em;
   text-align: center;
   transform: translateX(50%);
   opacity: 0;
   transition: transform 350ms ease-in-out 10000ms, opacity 550ms
   linear 500ms;
}
.nav__item {
   margin-bottom: 1.5em;
}

.nav__link {
   text-decoration: none;
   color:var(--clr-dark);
}

.nav__link:hover {
   text-decoration: underline;
   color:var(--clr-primary);
}

.nav__toggle {
   position: absolute;
   top:2em;
   left: 2em;
   width: 3em;
   height:3em;
   transform: translateX(-150%);
   background:var(--clr-light);
   border:0;
   border-radius: 1.5em;
   display:flex;
   align-items: center;
   justify-content: center;
   transition: transform 350ms ease-in-out, left 350ms linear,
   background 150ms linear;
   z-index: 10;
   padding: 0;
}

.hamburger {
   display:block;
   position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
   width: 1.5em;
   height: 3px;
   background: var(--clr-dark);
   transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
   content:'';
   position:absolute;
   left:0;
}

.hamburger::before {
   bottom: 6px;
}

.hamburger::after {
   top: 6px;
}

.nav-open .nav {
   transform: translateX(0);
}

.nav-open .hamburger {
   transform:rotate(45deg);
}

.nav-open .hamburger::before {
   opacity: 0;
}

.nav-open .hamburger::after {
   transform:rotate(90deg) translate (-6px)
}

.nav-open .nav__toggle {
   left:50%;
   transform: translateX (-50%);
}

.nav-open .nav__list {
   transform: translateX(0);
   opacity: 1;
}

/*end of Navbar by Simone */

.featured-container  {
   /*box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);*/
   padding: 2em;
   margin:auto;
   gap:1em;
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 10rem 10rem;
   max-width: 90%;
   
}

.featured-main {
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   grid-column: span 3;
   grid-row: span 2;
   background-color:steelblue;
   border: 2px solid #20212a;
   border-radius: 8px;
   
}
/*Work required to fit/fill and
 preserve aspect ratio*/
.featured-main>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}

.featured-secondary{
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   background-color: blueviolet;
   grid-column: span 2;
   border: 2px solid #20212a;
   border-radius: 8px;
}

.featured-secondary>img{
   object-fit: fill;
   width:100%;
   height: 100%;
}

.featured-tertiary {
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   background-color: crimson;
   grid-column: span 2;
   border: 2px solid #20212a;
   border-radius: 8px;

}

.featured-tertiary>img{
   object-fit: fill;
   width:100%;
   height: 100%;
}

.content-wrapper {
  /* background-color: orange;*/
   padding:2em;
   margin:auto;
   display:grid;
   max-width: 90%;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-rows: 10rem;
   gap:1em;
  
}

.content-one{
   grid-row: span 1;
   grid-column: span 1;
   border:2px solid #20212a;
   border-radius: 8px;
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}
.content-one>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}

.content-two{
   grid-row: span 1;
   grid-column: span 1;
   border:2px solid #20212a;
   border-radius: 8px;
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
}

.content-two>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}   

.content-three{
   grid-row: span 1;
   grid-column: span 1;
   border:2px solid #20212a;
   border-radius: 8px;
   box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);

}

.content-three>img {
   object-fit: fill;
   width:100%;
   height: 100%;
}

p {
   justify-content: center;
   text-align: center;
}