@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
h1,h2,h3 {
   text-align: center;
   text-decoration: underline;
   font-family:'Parisienne', cursive, sans-serif;
   color:#cb6ce6;
}
h1 {
   font-size: 2.5em;
}

h2 {
   font-size: 2em;
}
h3 {
   font-size: 1.5em;
}
body {
    background-color: #414141;
}
p {
   /* text-align: center;*/
    color: white;
    font-size: larger;
}
.container {
   display:flex;
   justify-content: space-evenly;
}
.bio {
   text-align: left;
}

.signature {
    font-family:'Parisienne', cursive, sans-serif;
    text-decoration:underline;
    text-decoration-color: #cb6ce6;
    font-weight: bolder;
}
.Portrait {
   max-height: 300px;
}
.Portrait img {
    object-fit: fill;
    height:400px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.3);
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #20212a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   }
  
  /* The navigation menu links */
 .sidenav a {
    padding: 12px 12px;
    text-align: center;
    text-decoration:none;
    font-weight: 800;
    font-size: 25px;
    color: #cb6ce6;
    display: block;
    transition: 0.3s;
    font-family:'Parisienne', cursive, sans-serif;
 }
  
  /* When you mouse over the navigation links, 
  change their color */
.sidenav a:hover {
    color: #f1f1f1;
 }
.button {
     position: fixed;
     padding: 15px 15px;
     border: 1px solid #cb6ce6;
     border-radius: 10px;
     background-color: #20212a;
     color: #cb6ce6;
     font-weight: bolder;
     cursor: pointer; 
     top: 50px;
     right:40px;
     font-size:2em;
     font-family:'Parisienne', cursive, sans-serif;
     box-shadow:0px 0px 6px 6px rgba(0,0,0,0.3);
   }
  /* Position and style the close button 
  (top right corner)
   */
 .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-Right: 50px;
 }
  
  /* Style page content
   - use this if you want to push the page content to the 
   right
    when you open the side navigation */
 #main {
    transition: margin-Right .5s;
    padding: 20px;
 }
  
  /* On smaller screens, where height is less than 450px,
   change the style of the sidenav
    (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
 }
/*TOP SECTION*/
 .topsection {
   background-color:#20212a;
   color:white;
   min-height: 20em;
   display:flex;
   }
.topsectionItems{
   
}   
.initial-impression-img-auther {
   color:white;
   padding: 20px;
   max-width: 40%;
}
.initial-impresson-img-auther p{
   max-width: 30%;
}
.ivana-stats-reviewstars {
   color:white;
}
.rating {
   font-size: 300%;

}
 /*End of TOP section */
 /*Second from TOP section "mid"*/
.midsection {
   background-color:#cc6ce672;
   color:#20212a;
   min-height: 20em;
}
.synopsis-bookcover {
   display:flex;
   color:#20212a;
   justify-content: space-evenly;;
} 
 /*End of Top midsection*/
.mainsection {
   background-color:#9e489b8e;
   color:white;
   min-height: 20em;
}
.insta-main-review {
   display:flex;
   justify-content: space-evenly;
   color: white;
}
.bottomsection {
   background-color: #20212a;
   color:#cb6ce6;
   min-height: 20em;
}
.about-auther-socials-support-medals {
   display:flex;
   justify-content: space-evenly;
   color: #cb6ce6;
} 